button:hover{
    cursor: pointer;
    box-shadow: 0 0 2px 2px beige;
    transition: all 0.2s ease-in;
}

button{
    transition: all 0.2s ease-in;
}

button.button-transparent{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 120px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}