.menu a.color-white{
    color: white;
}
.menu a.color-black{
    color: black;
}

.menu a {
    margin-right: 40px;
}
.menu {
    transition: all 0.3s ease-in;
}

.menu.scrolled{
    background-color: #ff00003d;
    transition: all 0.3s ease-in;
}
