.our-coffee {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.coffee-card-wrapper {
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin-right: 70px;
    margin-top: 60px;
    box-shadow: 0 0 8px 6px rgba(34, 60, 80, 0.09);
    padding: 35px 25px;
}

.coffee-card-wrapper:nth-child(3n) {
    margin-right: 0;
}

.coffee-card-wrapper img {
    width: 100%;
}