.coffee-card-info-modal {
    position: absolute;
    width: 300px;
    background: white;
    padding: 25px;
    border: 1px solid red;
    border-radius: 8px;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 478px;
}

.coffee-card-info-modal p {
    font-size: 20px;
}

.close-button {
    font-size: 49px;
    color: brown;
    line-height: 33px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 22px;
    top: 9px;
    transition: 2s ease-in;
}

.close-button:hover {
    cursor: pointer;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.coffee-card-info-modal-enter {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

.coffee-card-info-modal-enter-active {
    opacity: 1;
    transition: all 300ms ease-out;
    transform: scaleY(1);
}

.coffee-card-info-modal-exit {
    opacity: 1;
}

.coffee-card-info-modal-exit-active {
    opacity: 0;
    transition: all 300ms ease-out;
    transform: scaleY(0);
    transform-origin: bottom;

}
